<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>

    <form action="/ticket/search" method="post">
      <label for="phone_number">전화번호: </label
      ><input type="text" name="phoneNumber" id="phone_number" /> <br />
      <label for="usr_pwd">비밀번호: </label
      ><input type="text" name="pwd" id="usr_pwd" /> <br />
      <button type="submit" class="submit_btn">검색</button> <br />
    </form>
  </body>
</html>
