<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    영화예매장소 영화 좌석쫘르르 보여주고 설정하는거 하면 될 듯.
  </body>
</html>
